<body>
<div id="elementos">
  <a  [routerLink]= "['disena']"id="disena" type="button"(click)="cambiarColor1()"  ><h4 class="menupri">Diseña</h4></a>
  <a  [routerLink]= "['construye']"id="construye" type="button"(click)="cambiarColor2()"><h4 class="menupri">Construye</h4></a>
  <a  [routerLink]= "['repara']"id="repara" type="button"(click)="cambiarColor4()"><h4 class="menupri">Repara</h4></a>
</div>
<div id="itemNuevo">
  <a [routerLink]= "['nuevo']" id="boton1" (click)="cambiarColor5()">Crear Item</a>
  <a [routerLink]= "['categoria']" id="boton2" (click)="cambiarColor3()">Categorias</a>
</div>   

</body>
